# Načtení, základní zpracování, třídění a filtrování dat pomocí Pandas

In [1]:
import pandas as pd
import numpy

Pandas mí načíst spoustu formátů tabulek s daty, nejčastěji .csv nebo Excel.

In [ ]:
df_priklad = pd.read_excel("vymysli priklad",)

In [ ]:
df = pd.read_csv('../data/detail_results.csv',encoding='utf-8', sep=";",
                    converters={"search_dts" : lambda x: np.fromstring(x[1:-2], sep=" "),
                                "return_dts" : lambda x: np.fromstring(x[1:-2], sep=" "),
                                "return_ts" : lambda x: np.fromstring(x[1:-2], sep=" ")}
                   )

In [ ]:
napoje_df = pd.read_excel("lb_data.xlsx")

In [2]:
hráči = [{"jméno": "Robot", "příjmení": "Marvin", "číslo": -42 , "tým": "FC Cadia"},
         {"jméno": "Leman", "příjmení": "Russ", "číslo": 40001, "tým": "FC Cadia" },
         {"jméno": "Zafod", "příjmení": "Biblbrox", "číslo": 42, "tým": "FC Cadia" },
         {"jméno": "Rick", "příjmení": "Sanchez", "číslo": 8, "tým": "FC Terra"},
         {"jméno": "Morty", "příjmení": "Sanchez", "číslo": 0, "tým": "FC Terra"}
]

## Přístup k datům - indexování

In [3]:
hraci_df = pd.DataFrame(hráči)

In [4]:
hraci_df

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8
4  Morty   Sanchez  FC Terra      0

In [ ]:
hraci_df["číslo"]

In [35]:
hraci_df[["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8
4   Sanchez      0

In [37]:
hraci_df.loc[0:3]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8

In [41]:
hraci_df.loc[:3][["příjmení", "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

In [42]:
hraci_df.loc[:3, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42
3   Sanchez      8

In [44]:
hraci_df.loc[:3, "jméno" : "tým"]

   jméno  příjmení       tým
0  Robot    Marvin  FC Cadia
1  Leman      Russ  FC Cadia
2  Zafod  Biblbrox  FC Cadia
3   Rick   Sanchez  FC Terra

In [49]:
maska = hraci_df["tým"] == "FC Cadia"
maska

0     True
1     True
2     True
3    False
4    False
Name: tým, dtype: bool

In [52]:
hraci_df[maska]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42

In [53]:
hraci_df.loc[maska, ["příjmení" , "číslo"]]

   příjmení  číslo
0    Marvin    -42
1      Russ  40001
2  Biblbrox     42

In [59]:
hraci_df[(hraci_df["tým"] != "FC Terra") | (hraci_df["jméno"].str[0]=="R") ]

   jméno  příjmení       tým  číslo
0  Robot    Marvin  FC Cadia    -42
1  Leman      Russ  FC Cadia  40001
2  Zafod  Biblbrox  FC Cadia     42
3   Rick   Sanchez  FC Terra      8